*{
    -myGradient: linear-gradient(to right bottom,#50D5B7,#067D68);
    -myTextFill: #f6f6f6;
    -myNavColor: #067D68;
    -myButtonColor: #EEBD89;
}
.root{
    -fx-background-color: -myGradient;
}
.borderpane{
    -fx-max-width: 360;
    -fx-min-height: 640;
}
/*=======TOP SECTION*=========*/
.playerStatus{
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: -myNavColor;
    -fx-padding: 10;
    -fx-spacing: 20;
}
.statusHead{
    -fx-font-weight: bold;
    -fx-text-fill: -myTextFill;
    -fx-font-size: 16;
}
.scoreField{
    -fx-background-color: -myTextFill;
    -fx-background-radius: 20;
    -fx-alignment: center;
    -fx-spacing: 10;
}
.lifeField{
    -fx-background-color: -myTextFill;
    -fx-background-radius: 20;
    -fx-alignment: center;
}
.lblName{
    -fx-font-size: 20;
}
.lblScore{
    -fx-font-size: 20;
}
.lblLife{
    -fx-font-size: 20;
}
/*=======CENTER SECTION*=========*/

/*=======BOTTOM SECTION*=========*/
.bottomHbox{
    -fx-background-color: -myNavColor;
    -fx-background-radius: 20 20 0 0;
    -fx-spacing: 16;
    -fx-padding: 16;
    -fx-alignment: center;
    -fx-width: max_width;
}
.buttonNav{
    -fx-grow: always;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-radius: 10;
    -fx-background-color: -myButtonColor;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: -myTextFill;
    -fx-alignment: center;
}